.loan-box {
    display: block;
    width: 20rem;
}

.loan-container{
    margin: 0 auto;
    width: 90%;
    margin-right: 20px;
}

ion-icon {
    font-size: 25px;
}
  

.loan-box-header{
    
}

#icon-green{
    color:green;
}

#icon-yellow{
    color: rgba(255, 238, 0, 0.74);
}

#icon-red{
    color: red;
}